/*User Profile CSS*/


.user-profile-title {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.pic {
    margin: 0 auto 10px auto;
    text-align: center;
}

.pic img {
    height:100px;
    width:100px;
    background: transparent;
}

.form-control{
    margin-bottom: 20px;
}

.gender {
    display: inline-block;
}

.radio-inline {
    margin-left: 15px;
}

.pets {
    display: inline-block;
}

.checkbox-inline {
    margin-left: 34px;
}

#none-label {
    position: absolute;
    left: 315px;
    bottom: 76px;
}

.create {
    margin: 20px auto 0 auto;
    text-align: center;
}

#message {
    color: white;
    text-align: center;

}

.no-input {
    border: 2px solid #d33682;
    background-color: #d33682;
    border-radius: 5px;

}

.no-input h3,
.success h3 {
    margin: 5px;
}

.success {
    border: 2px solid #2aa198;
    background-color: #2aa198;
    border-radius: 5px;
}

#new-user-div {
    color: white;
}

.new-user-greeting {
    text-align: center;
}

.update {
    margin: 30px auto;
    width: 95%;
    text-align: center;

}

.btn-danger {
    margin-right: 40px;

}